vim/.netrwhist
vim/.VimballRecord
emacs.d/auto-save-list/
emacs.d/backups/
emacs.d/elpa/
emacs.d/places
emacs.d/framegeometry
emacs.d/.smex-items
emacs.d/url
emacs.d/swank
emacs.d/ac-comphist.dat
*.elc